.App {
  width: 100%;
  height: 100vh;

}
.uni_padding{
  padding: 0 5rem;
}


.not-found-container {
    width: 100%;
  
    .not-found-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    img {
      width: 50%;
    }
  }
  .gradient-text {
    font-family: "Libre Baskerville", serif;
    font-weight: 800;
    background-image: linear-gradient(to bottom right, #b533ff, #5526b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.gray-text{
  color: #636363;
  font-weight: 500;
}
  .flex{
    display: flex;
    align-items: center;
  }

  /* AlertMsg.css */
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blinking-alert {
    animation: blink 1s infinite;
  }

 
  .ant-drawer-content{
    .ant-drawer-body{
      .nav_list_items{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 1.5rem !important;
        
        a{
          border-radius: 20px;
          width: 100%;
          text-align: center;
          padding: 0.5rem;
          border-bottom: 1px solid #6363633b;
          color: #636363;
          font-size: 18px;
          transition: 0.3s ease;
          &:hover{
            box-shadow: 0 2px 7px #6363634f;
            color: #5526b6;
          }
        }
      }
    }
  }